*{
    margin: 0;
    padding: 0;
}
.curriculum-sectio{
  background-image: url('/assets/bg.png');
}
/* shared style */
.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .raleway{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .center{
    /* text-align: center; */
  }
  
  /* shared style end */

/* navbar design start */
.navbar{
    margin: 18px 110px 18px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    
}
.nav-items{
    display: flex;
    gap: 25px;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
}
.navlink-1{
    color: Orange;
    font-weight: bold;
    font-size: 15px;
}
.navlink-2{
  color: skyblue;
  font-weight: 600;
  font-size: 15px;
}
.navlink-3{
    color: #05D4DF;
    font-weight: 600;
    font-size: 15px;
}
.navlink-4{
  color: #5D58EF;
  font-weight: 600px;
  font-size: 15px;
}
.contact-btn{
    background-color: orange;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    border: none;
    padding: 6px 20px 6px 20px;
    border-radius: 6px;
}
.bar{
    display: none;
}

/* banner design start */
.banner{
    margin: 0px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    /* max-width: 100%; */
    
}
.title-colour-1{
    color: Orange;
}
.title-colour-2{
    color: skyblue;
}

.banner-title{
    font-weight: bold;
    font-size: 2.9rem;
}
.banner-description{
    font-weight: 360;
    font-size: 14px;
    margin: 15px 0;
}
.banner-pic{
    
    
}

.banner-btn{
    background-color: black;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 8px 35px;
    border: none;
    border-radius: 10px;
}
/* banner design end */

/* standard curriculum section design start*/
  .title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
  }
 .curriculum-container{
    margin: 0px 110px 18px 110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
 }
 .card{
    
    max-height: 100%;
    text-align: center;
    
    padding: 30px 55px;
    border-radius: 1rem;
    
    
 }
 .card img{
    /* display: block;
    margin: auto; */
    margin-bottom: 20px;
 }
 .curriculum-title{
    margin: 20px 0;
    color: #202020;
    font-weight: 700;
    font-size: 1.3rem;
 }
 .curriculum-description{
    margin: 20px 0; 
    color: #808080;
    font-weight: 500px;
    font-size: 0.75rem;
 }
 .btn-1{
    color: #64C8FF;
    font-weight: 700;
    font-size: 0.7rem;
    border: none;
    background: none;
    }
 .btn-2{
   color: #F0AA00;
   font-weight: 700;
    font-size: 0.7rem;
    border: none;
    background: none;
 }
 .btn-3{
    color: #8700FF;
    font-weight: 700;
     font-size: 0.7rem;
     border: none;
     background: none;
 }
 .box-1{
    border: 0.94px solid rgb(222, 245, 255);
    box-sizing: border-box;
    background-color: #DEF5FF;
    box-shadow: 0 0 28 0.94 rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 .box-2{
    border: 0.94px solid rgb(255, 244, 220);
    box-sizing: border-box;
   background-color: #FFF4DC;
   box-shadow: 0 0 28 0.94 rgba(0, 0, 0, 0.05);
   background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 .box-3{
    border: 0.94px solid rgb(242, 232, 255);
    box-sizing: border-box;
   background-color: #F2E8FF;
   box-shadow: 0 0 28 0.94 rgba(0, 0, 0, 0.05);
   background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 .icon{
    text-align: center;
    margin-bottom: 40px;
 }
 .icon-btn-1{
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border-radius: 25px;
    background-color: Orange;
    color: #FFFFFF;
    border: none;
 }
 .icon-btn-2{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    border-radius: 25px;
    background-color: Orange;
    color: #FFFFFF;
    border: none;
 }
 /* standard curriculum section design end*/

 /* our stories section design start */
 .our-stories{
    /* margin: 0px 110px 18px 110px; */
    
    background-image: url('/assets/bg.png'),
    linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
 }
 .stories-heading{
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 55px;
 }
 .stories-container{
    margin: 0px 110px 18px 110px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
   /* text-align: center; */
 }
 .story-box{
    /* border: 2px solid red; */
    max-width: 540px;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    
 }
 .image-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    border: 2px solid red;
    max-width: 604px;
    
 }
 .left-heading{
    color: #000000;
    font-weight: bold;
    font-size: 1.1rem;
 }
 .story-title{
   color: #000000;
   font-weight: bold;
   font-size: 0.9rem;
 }
 .heading-description{
    color: #666666;
    font-weight: 550;
    font-size: 0.8rem;
 }
 .left-btn{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.8rem;
    background-color: #3CD8E8;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: -68px;
    margin-left: 34px;
    
 }
 /* .stories-card{
    overflow: visible;
 } */
 .story-btn-1, 
 .story-btn-3,
 .story-btn-4
 {
   background-color: #95B226;
   color: #FFFFFF;
   font-weight: 500;
   font-size: 0.8rem;
   border: none;
   border-radius: 20px;
   padding: 10px 15px;
   margin-left: 34px;
   margin-top: -110px;

 }
 .story-btn-2{
    background-color: #5D58F0;
   color: #FFFFFF;
   font-weight: 500;
   font-size: 0.8rem;
   border: none;
   border-radius: 20px;
   padding: 10px 15px;
   margin-left: 34px;
   margin-top: -110px;
 }
 
    
 
 

/* responsive start */
@media screen and (max-width:576px) {
    .school,  .nav-items, .contact-btn{
        display: none;
    }
    
    .bar{
        display: block;
    }
    .navbar{
        
        border: 0.5px solid orange;
        padding: 8px 15px 8px 15px;
        justify-content: space-between;
        /* width: 100%; */
        margin: 0;
        
    }
    .banner{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 !important;
        padding: 10px 20px 10px 20px;
        
    }
    .banner-pic{
        order: 1;
         
        
    }
    .banner-pic img{
        width: 100%;
    }
    .banner-content{
        order: 2;
    }
    .curriculum-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }
    .icon{
        display: none;
    }
    .curriculum-section{
        
    }
    .card{
        padding: 30px;
       
    }
}
